body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: -678px;
  left: -1996px;
  gap: 0px;
  opacity: 0px;
  background: #1b244a;
}

h3 {
  width: 149px;
  height: 36px;
  top: 68px;
  left: 85px;
  gap: 0px;
  opacity: 0px;
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
  line-height: 35.89px;
  text-align: center;
  color: #eeeeee;
}

.score-box {
  width: 155px;
  height: 120px;
  top: 125px;
  left: 82px;
  gap: 0px;
  border-radius: 5px 5px 5px 5px;
  opacity: 0px;
  background: #080001;
}

#score-num {
  width: 117px;
  height: 120px;
  top: 125px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: "Cursed Timer ULiL", "sans-serif";
  font-size: 90px;
  font-weight: 400;
  line-height: 126.67px;
  text-align: center;

  color: #f94f6d;
  margin: 0 18px 20px 26px;
}

.btns-box {
  width: 155px;
  height: 45px;
  top: 271px;
  left: 337px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
}

button {
  width: 45px;
  height: 45px;
  top: 271px;
  left: 337px;
  gap: 0px;
  font-family: "Cursed Timer ULiL", "sans-serif";
  color: #9aabd8;
  border-radius: 5px 5px 5px 5px;
  opacity: 0px;
  background: #1b244a;
  border: 2px solid #9aabd8;
  padding: 7px 9px 9px 10.23px;
  margin: 9px 0 11px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.81px;
}
